/* src/App.css */
.flames-calculator {
  text-align: center;
  background-color: blueviolet;
  color: white;
  width: 300px;
  height: auto;
  padding: 20px;
}

.flames-calculator form {
  margin: 20px 0;
}

.flames-calculator label {
  display: block;
  text-align: left;
}

.flames-calculator input {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 5px 0;
}

.flames-calculator button {
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 20px;
  outline: none;
  border: none;
  width: 100%;
}
